body {
    font-family: 'Courier New', monospace;
    background-image: url('/images/robot.png');
    background-size: cover;
    color: #333;
}

h1,
h2 {
    color: #06552f;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #06552f;
}

td,
th {
    border: 1px solid #06552f;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #06552f;
    text-align: center;
}

button {
    background-color: #06552f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 1rem;
}

.computer {
    border: 2px solid #06552f;
    padding: 10px;
    background-color: #fff;
}

#form {
    background-color: #fff;
    padding: 20px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #06552f;
    padding: 5px;
}

#options {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}